<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="atms.app.agiskclient">

    <application
        android:name="atms.app.agiskclient.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.My_Application_c">
        <activity
            android:name="atms.app.agiskclient.SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings" />
        <activity android:name="atms.app.agiskclient.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>